@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand: #059669; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
